<?xml version="1.0"?>

<launch>
  <param name="/use_sim_time" value="false" />

  <!--include file="$(find simulation_environment)/launch/apartment.launch"/-->


  <!-- <node name="joystick" pkg="JoyStick" type="joystick" args="/dev/input/js0" />
  <node name="move_robot" pkg="move_robot" type="move_robot" args="/dev/ttyACM0 115200" output="screen" /> -->


  <node pkg="tf" type="static_transform_publisher" name="map_to_base" args="0 0 0 0 0 0 map base_link  100" />
  <node pkg="tf" type="static_transform_publisher" name="scanner1_to_base" args="-0.15 0.25 0 0.785398163 0 0 base_link laser_1 100" />
  <node pkg="tf" type="static_transform_publisher" name="scanner2_to_base" args="0.15 -0.25 0 -2.35619449 0 0 base_link laser_2 100" />
  <node name="sick_tim_5xx_1" pkg="sick_scan" type="sick_generic_caller" respawn="false" output="screen">
    <param name="scanner_type" type="string" value="sick_tim_5xx" />
    <param name="frame_id" value="/laser_1" />
    <param name="min_ang" type="double" value="-2.35619449" /> <!-- -135° -->
    <param name="max_ang" type="double" value="2.35619449" /> <!-- 135° -->
    <param name="range_max" type="double" value="100.0" />
    <param name="intensity" type="bool" value="True" />
    <param name="hostname" type="string" value="192.168.0.16" />
    <param name="port" type="string" value="2112" />
    <param name="timelimit" type="int" value="5" />
    <param name="min_intensity" type="double" value="0.0" /> <!-- Set range of LaserScan messages to infinity, if intensity < min_intensity (default: 0) -->
    <remap from="scan" to="scan_1" />
    <remap from="cloud" to="cloud_1" />
  </node>
  <node name="sick_tim_5xx_2" pkg="sick_scan" type="sick_generic_caller" respawn="false" output="screen">
    <param name="scanner_type" type="string" value="sick_tim_5xx" />
    <param name="frame_id" value="/laser_2" />
    <param name="min_ang" type="double" value="-2.35619449" /> <!-- -135° -->
    <param name="max_ang" type="double" value="2.35619449" /> <!-- 135° -->
    <param name="range_max" type="double" value="100.0" />
    <param name="intensity" type="bool" value="True" />
    <param name="hostname" type="string" value="192.168.0.15" />
    <param name="port" type="string" value="2112" />
    <param name="timelimit" type="int" value="5" />
    <param name="min_intensity" type="double" value="0.0" /> <!-- Set range of LaserScan messages to infinity, if intensity < min_intensity (default: 0) -->
    <remap from="scan" to="scan_2" />
    <remap from="cloud" to="cloud_2" />
  </node>
  <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
    <param name="destination_frame" value="/base_link" />
    <param name="cloud_destination_topic" value="/cloud" />
    <param name="scan_destination_topic" value="/scan" />
    <param name="laserscan_topics" value="/scan_1 /scan_2" /> <!-- LIST OF THE LASER SCAN TOPICS TO SUBSCRIBE -->
    <param name="angle_min" value="-3.14159265359" />
    <param name="angle_max" value="3.14159265359" />
    <param name="angle_increment" value="0.0058" />
    <param name="scan_time" value="0.0333333" />
    <param name="range_min" value="0.3" />
    <param name="range_max" value="100.0" />
  </node>

</launch>